.container_main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  height: 100%;
  background-color: var(--container_post);
}

.create_post {
  width: 90vw;
  max-width: 800px;
}

.icons_header > .mode {
  position: inherit;
  margin-right: 30px;
}

.header_create_post,
.header_post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
  color: var(--white);
  height: 40px;
  padding: 0 5%;
}

.header_create_post > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5em;
  line-height: 26px;
}

.form_create {
  width: 90%;
  max-width: 800px;
  height: auto;

  background: var(--container_post);
  border: 1px solid #999999;
  border-radius: 16px;
  margin: 5%;
  padding: 2rem;
}

.form_create > h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 24px;
}

.form_create > .button {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  height: 32px;
}

.form_create > .button > button {
  text-transform: capitalize;
}

.posts {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-y: overlay;
  padding: 0 20px;
}

.post {
  width: 100%;
  max-width: 800px;
  height: auto;

  border: 1px solid #999999;
  border-radius: 16px;
  margin-bottom: 5%;
}

.header_post {
  border-radius: 16px 16px 0 0;
}

.body_post {
  padding: 5%;
}

.title_time {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.author,
.date,
.content {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;

  color: #777777;
}

.date {
  font-weight: 400;
  text-align: right;
}

.content {
  font-weight: 400;

  color: var(--black);
}

.icons > img {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container_main {
    max-width: 100%;
  }
  .create_post {
    width: 100vw;
    max-width: 800px;
  }
  .form_create {
    width: 100%;
    margin: 5% 0;
  }
  .form_create > h2 {
    font-size: 20px;
  }
  .header_create_post > h2 {
    font-size: 1.2em;
  }
  .author,
  .date,
  .content {
    font-size: 16px;
  }
  .posts {
    padding: 0 10px;
  }
  .post {
    max-width: 100%;
    margin-bottom: 10%;
  }
}
