@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --background-color: #dddddd;
  --black: #000000;
  --border: #777777;
  --blue: #7695ec;
  --container_post: #ffffff;
  --white: #ffffff;
  --red: #ff5151;
  --green: #47b960;
  --background-modal: rgba(119, 119, 119, 0.8);
  --btn_block: #dddddd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--background-color);
}
